# Directory
/test_dataset/
/test_code/
/test/

# Ignore API key files
apikey.yml

# Python bytecode and cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/

# Logs and temp files
*.log
*.tmp

# cpp
build/

Dockerfile