# Directory
/test_dataset/
/test_code/
/test/
/models/

# Ignore API key files
apikey.yml

# Python bytecode and cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
env/

# IDE
.vscode/

# OS-specific
.DS_Store
Thumbs.db
desktop.ini

# Logs and temp files
*.log
*.tmp
*.swp
*.swo
*.bak
*.old

# cpp
build/
*.o
*.obj
*.so
*.exe
*.out

# Docker
Dockerfile
*.dockerignore
*.env
docker-compose.yml
docker-compose.override.yml